
.main{
   height:500px;
   display: flex;
   align-items: center;
   padding: 200px !important;
   justify-content: space-between;
   background-color: #cbe5fe;
   border-radius: 20px;
}   

.field{
    width: 400px;
    height: 400px;
    text-align: center;
    resize: none;
    outline: none;
    
}

